@import "locomotive-scroll.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #111;
  color: #fff;
  font: helve;
}
@font-face {
  font-family: helve;
  src: "HelveticaNowDisplay-Medium.ttf";
}
