@import "locomotive-scroll.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: black;
  color: #fff;
  font: helve;
}
@font-face {
  font-family: helve;
  src: "HelveticaNowDisplay-Medium.ttf";
}
canvas {
  pointer-events: none;
}
span {
  background-color: red;
}
